@model List<EF_first_approach_demo.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@section searchFacility
{
    <div class="flex-grow-1"></div>
    <form class="d-flex" action="/product/index">
        <input type="search" class="form-control p-2 my-1 " name="search" placeholder="Search..." value="@ViewBag.searchItem" />
        <button class="btn btn-warning p-2 m-1 ">Search</button>
    </form>
}

<table class="table my-3 table-bordered border-dark-subtle">
    <thead>
        <tr>
            <th class="text-bg-secondary text-wrap text-center">
                @if (ViewBag.iconClass == "fa-sort-desc")
                {
                    <a class="text-white text-decoration-none" href="/product/index?sortColumn=ProductID&iconClass=fa-sort-asc&PageNo=1">Product ID</a>
                    if (ViewBag.sortColumn == "ProductID")
                    {
                        <i class="fa @ViewBag.iconClass"></i>
                    }
                }
                else
                {
                    <a class="text-white text-decoration-none" href="/product/index?sortColumn=ProductID&iconClass=fa-sort-desc&PageNo=1">Product ID</a>
                    if (ViewBag.sortColumn == "ProductID")
                    {
                        <i class="fa @ViewBag.iconClass"></i>
                    }
                }
            </th>

            <th class="text-bg-secondary text-wrap text-center">Product Image</th>

            <th class="text-bg-secondary text-wrap text-center">
                @if (ViewBag.iconClass == "fa-sort-desc")
                {
                    <a class="text-white text-decoration-none" href="/product/index?sortColumn=ProductName&iconClass=fa-sort-asc&PageNo=1">Product Name</a>
                    if (ViewBag.sortColumn == "ProductName")
                    {
                        <i class="fa @ViewBag.iconClass"></i>
                    }
                }
                else
                {
                    <a class="text-white text-decoration-none" href="/product/index?sortColumn=ProductName&iconClass=fa-sort-desc&PageNo=1">Product Name</a>
                    if (ViewBag.sortColumn == "ProductName")
                    {
                        <i class="fa @ViewBag.iconClass"></i>
                    }
                }
            </th>
            <th class="text-bg-secondary text-wrap text-center">
                @if (ViewBag.iconClass == "fa-sort-desc")
                {
                    <a class="text-white text-decoration-none" href="/product/index?sortColumn=Price&iconClass=fa-sort-asc&PageNo=1">Price</a>
                    if (ViewBag.sortColumn == "Price")
                    {
                        <i class="fa @ViewBag.iconClass"></i>
                    }
                }
                else
                {
                    <a class="text-white text-decoration-none" href="/product/index?sortColumn=Price&iconClass=fa-sort-desc&PageNo=1">Price</a>
                    if (ViewBag.sortColumn == "Price")
                    {
                        <i class="fa @ViewBag.iconClass"></i>
                    }
                }
            </th>
            <th class="text-bg-secondary text-wrap text-center">
                @if (ViewBag.iconClass == "fa-sort-desc")
                {
                    <a class="text-white text-decoration-none" href="/product/index?sortColumn=DateOfPurchase&iconClass=fa-sort-asc&PageNo=1">Invoice Date</a>
                    if (ViewBag.sortColumn == "DateOfPurchase")
                    {
                        <i class="fa @ViewBag.iconClass"></i>
                    }
                }
                else
                {
                    <a class="text-white text-decoration-none" href="/product/index?sortColumn=DateOfPurchase&iconClass=fa-sort-desc&PageNo=1">Invoice Date</a>
                    if (ViewBag.sortColumn == "DateOfPurchase")
                    {
                        <i class="fa @ViewBag.iconClass"></i>
                    }
                }
            </th>
            <th class="text-bg-secondary text-wrap text-center">
                @if (ViewBag.iconClass == "fa-sort-desc")
                {
                    <a class="text-white text-decoration-none" href="/product/index?sortColumn=Quantity&iconClass=fa-sort-asc&PageNo=1">Invoice Date</a>
                    if (ViewBag.sortColumn == "Quantity")
                    {
                        <i class="fa @ViewBag.iconClass"></i>
                    }
                }
                else
                {
                    <a class="text-white text-decoration-none" href="/product/index?sortColumn=Quantity&iconClass=fa-sort-desc&PageNo=1">Invoice Date</a>
                    if (ViewBag.sortColumn == "Quantity")
                    {
                        <i class="fa @ViewBag.iconClass"></i>
                    }
                }
            </th>
            <th class="text-bg-secondary text-wrap text-center">Brand</th>
            <th class="text-bg-secondary text-wrap text-center">Category</th>
            <th class="text-bg-secondary text-wrap text-center">Availability Status</th>
            <th class="text-bg-secondary text-wrap text-center">Product Details</th>
            <th class="text-bg-secondary text-wrap text-center">Update / Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-center">
                <td>@item.ProductID</td>
                <td><img src="data:image;base64,@item.Photo" alt="Product Image" width="100px" /></td>
                <td>@item.ProductName</td>
                <td>@item.Price.Value.ToString("C")</td>
                <td>@item.DateOfPurchase.Value.ToString("dd/MM/yyyy")</td>
                <td>@((int)item.Quantity.Value)</td>
                <td>@item.Brand.BrandName</td>
                <td>@item.Category.CategoryName</td>
                <td>@item.AvailabilityStatus</td>
                <td><a href="/product/details/@item.ProductID">Details</a></td>
                <td>
                    <a class="btn btn-success btn-sm" href="/product/update/@item.ProductID">Update</a>
                    <a class="btn btn-danger btn-sm" href="/product/remove/@item.ProductID">Delete</a>
                </td>
            </tr>
        }
       
    </tbody>
</table>

<a class="btn btn-success m-3" href="/product/create">Create New Product</a>

<footer>
    @{
        int previous = ViewBag.PageNo - 1;
        if (previous == 0) { previous = 1; }
        int next = ViewBag.PageNo + 1;
        if (next > ViewBag.NoOfPages) { next = ViewBag.NoOfPages; }
        ViewBag.previous = previous;
        ViewBag.next = next;
    }
    <ul class="pagination justify-content-center ">
        <li class="page-item m-1"><a class="page-link text-black rounded-pill" href="/product/index?sortColumn=@ViewBag.sortColumn&iconClass=@ViewBag.iconClass&PageNo=@ViewBag.previous">Prev</a></li>
        @for (int i = 0; i < ViewBag.NoOfPages; i++)
        {
            if ((i + 1) == ViewBag.PageNo)
            {
                <li class="page-item active m-1"><a class="page-link bg-warning rounded-pill border-warning text-black " href="/product/index?sortColumn=@ViewBag.sortColumn&iconClass=@ViewBag.iconClass&PageNo=@(i+1)">@(i+1)</a></li>
            }
            else
            {
                <li class="page-item m-1"><a class="page-link text-black rounded-pill" href="/product/index?sortColumn=@ViewBag.sortColumn&iconClass=@ViewBag.iconClass&PageNo=@(i+1)">@(i+1)</a></li>
            }
        }
        <li class="page-item m-1 "><a class="page-link text-black rounded-pill" href="/product/index?sortColumn=@ViewBag.sortColumn&iconClass=@ViewBag.iconClass&PageNo=@ViewBag.next">Next</a></li>
    </ul>
</footer>
